.sedgwick {
    font-family: Sedgwick Ave;
    font-size: 20px;
    letter-spacing: 3.33333px;
}

.sen {
    font-family: Sen;
    font-style: normal;
}

.bold {
    font-weight: 800;
}

#heroContainer {
    background: #FFC802;
    width: 100vw;
    height: 810px;
    z-index: 5;
    display: block;
    position: relative;
}

#heroContent {
    max-width: 1440px;
    height: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
}

#heroBkgContainer {
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: flex-end;
}

.heroBkgImg {
    max-width: 1440px;
    mix-blend-mode: normal;
    margin-left: -9rem;
    margin-bottom: 5rem;
}

#heroBkgTextContainer {
    align-self: flex-end;
    margin-left: 119px;
    margin-bottom: 57px;
    z-index: 9999;
}

#heroBkgTextBold {
    font-size: 57px;
    line-height: 50px;
}

#heroListenNowBtn {
    font-size: 20px;
    background: black;
    color: var(--main-yellow);
    text-decoration: none;
    border: none;
    padding: 10px 30px;
    border-radius: 35px;
    width: 220px;
    cursor:pointer;
    margin-top: 36px;
    border: 2px solid black;
}

#heroListenNowBtn:hover {
    background: #FFC802;
    border: 2px solid black;
    color: black;
}

#heroSocial {
    position: absolute;
    right: 0;
    top: 271px;
    z-index: 9999;
}

#heroSocial ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heroSocial ul li{
    list-style-type: none;
    margin-bottom: 2rem;
    margin-right: 50px;
}

#heroSocial svg:hover{
    fill: rgb(95, 95, 95);
}

#heroSocial ul li:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 1250px) {

    .heroBkgImg {
        max-width: 530px;
    }

    #heroBkgTextBold {
        font-size: 50px;
    }

    #heroContainer {
        height: 710px;
    }

}